{% extends 'base.html.twig' %}

{% block title %}Home {% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Les test unitaires</h1>
        </div>
        <div class="col-12">
            <h3>Ou je trouve çà : <a href="https://symfony.com/doc/current/testing.html" target="_blank">Ici</a>
            </h3>
        </div>
        <hr>
        <div class="col-12">
            <h2 class="">La règle :<br/></h2>
            <h3 class="">- Faire du code de qualité</h3>
            <h3 class="">- Faire du code de qualité</h3>
            <h3 class="">- Faire du code de qualité</h3>
            <h3 class="">Et surtout pourvoir travailler tous ensemble sur un projet dans les meilleures conditions :)</h3>
        </div>
        <div class="col-12">
            <h3>Ou ca se passe dans un projet symfony.</h3>
            <h4>Dans le dossier tests : --<br/>
                - La classe suffixer par Test <br/>
                - les méthodes préfixer par test</h4>
            <code>
                composer require --dev symfony/phpunit-bridge<br/>
                composer require --dev symfony/browser-kit symfony/css-selector<br/>
                ./bin/phpunit
            </code>
            <h4>
                Pour lancer les test : ./bin/phpunit ( Plus le dossier / class / ... )
            </h4>
        </div>

        <div class="col-12">
            <h4>
                Mon premier vrai test
            </h4>
        </div>

        <div class="col-12">
            <h4>On avance ? <a href="{{ path('home_logued_index') }}">Next</a></h4>
        </div>
    </div>

{% endblock body %}
