{% extends 'base.html.twig' %}

{% block title %}GameUser index{% endblock %}

{% block body %}
    <h1>GameUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Health</th>
                <th>User</th>
                <th>Game</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game_user in game_users %}
            <tr>
                <td>{{ game_user.id }}</td>
                <td>{{ game_user.health }}</td>
                <td>{{ game_user.user }}</td>
                <td>{{ game_user.game }}</td>
                <td>{{ game_user.createdAt ? game_user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('game_user_show', {'id': game_user.id}) }}">show</a>
                    <a href="{{ path('game_user_edit', {'id': game_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('game_user_new') }}">Create new</a>
{% endblock %}
