{% extends 'base.html.twig' %}

{% block title %}GameUser{% endblock %}

{% block body %}
    <h1>GameUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game_user.id }}</td>
            </tr>
            <tr>
                <th>Health</th>
                <td>{{ game_user.health }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ game_user.createdAt ? game_user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_user_index') }}">back to list</a>

    <a href="{{ path('game_user_edit', {'id': game_user.id}) }}">edit</a>

    {{ include('game_user/_delete_form.html.twig') }}
{% endblock %}
