{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h1>Character {{ character.name }}</h1>



    <table class="table">
        <tr>
            <td>{{ character.id }}</td>
            <td>{{ character.name }}</td>
            <td>{{ character.age }}</td>
            <td>{{ character.sex }}</td>
            <td>{{ character.enabled ? 'Yes' : 'No' }}</td>
            <td>{{ character.createdAt ? character.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
    </table>

{% endblock %}
