{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User {{ user.username }}</h1>

    <div class="row">
        <div class="small-12 columns">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
