{% extends 'base.html.twig' %}

{% import "macros.html.twig" as macros %}

{% block title %}Weapon index{% endblock %}

{% block body %}
    <h1>Weapon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ammunition</th>
                <th>InHand</th>
                <th>Scarcity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weapon in weapons %}
            <tr>
                <td>{{ weapon.id }}</td>
                <td>{{ weapon.name }}</td>
                <td>{{ weapon.ammunition }}</td>
                <td>{{ weapon.inHand ? 'Yes' : 'No' }}</td>
                <td>{{ weapon.scarcity }} |||| {{ macros.scarcity(weapon.scarcity) }}</td>
                <td>
                    <a href="{{ path('weapon_show', {'id': weapon.id}) }}">show</a>
                    <a href="{{ path('weapon_edit', {'id': weapon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('weapon_new') }}">Create new</a>
{% endblock %}
