{% extends 'base.html.twig' %}

{% block title %}Weapon{% endblock %}

{% block body %}
    <h1>Weapon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weapon.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ weapon.name }}</td>
            </tr>
            <tr>
                <th>ammunition</th>
                <td>{{ weapon.ammunition }}</td>
            </tr>
            <tr>
                <th>InHand</th>
                <td>{{ weapon.inHand ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Scarcity</th>
                <td>{{ weapon.scarcity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('weapon_index') }}">back to list</a>

    <a href="{{ path('weapon_edit', {'id': weapon.id}) }}">edit</a>

    {{ include('weapon/_delete_form.html.twig') }}
{% endblock %}
