<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home_index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('game_index') }}">Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('game_user_index') }}">Game User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('weapon_index') }}">Weapon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('weapon_type_index') }}">Weapon Type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">Users</a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a  class="nav-link"  href="{{ path('user_profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">login</a>
                </li>
            {% endif %}
            {% if app.request.attributes.get('_route') == "game_show" %}
            <li class="nav-item">
                <a class="nav-link btn btn-success" href="{{ path('weapon_new', {'id': game.id}) }}">Créer Weapon</a>
            </li>
            {% endif %}


        </ul>
    </div>
</nav>
