<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tp') }}">Tp</a>
                </li>

            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home', {'id': 2}) }}">Voter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home', {'id': 3}) }}">Formulaire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('character_index') }}">Character</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home', {'id': 4}) }}">Tp 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">Users</a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">login</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>
