{% extends 'base.html.twig' %}

{% block title %}LPDIOC S4  {% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-12 ">
            <h1 class="text-center">Bonjour à tous</h1>
        </div>

        <h2 class="text-center">Petit préambule</h2>

        <div class="col-12 ">
            <ul>
                <li>
                    <h4 class="text-left">
                        1 - Je fork le projet : <a target="_blank" href="https://gitlab.univ-artois.fr/fabien.zimmermann/tps4">https://gitlab.univ-artois.fr/fabien.zimmermann/tps4</a>
                    </h4>
                </li>
                <li>
                    <h4 class="text-left">
                        2 - je clone le projet : <a href="#">https://gitlab.univ-artois.fr/%my-name%/tps4</a><br />
                        <code>git clone https://gitlab.univ-artois.fr/%my-name%/tps4</code>
                    </h4>
                </li>
                <li>
                    <h4 class="text-left">
                        3 - J'ajoute une autre origin :<br />
                        <code>git remote add originprof https://gitlab.univ-artois.fr/fabien.zimmermann/tps4</code>
                    </h4>
                </li>
                <li>
                    <h4 class="text-left">
                        4 - Je crée ma propre connexion bdd.<br />
                        <code>
                        cp .env .env.local<br />
                        nano .env.local<br />
                        je change avec mes valeurs :  DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7
                        </code>
                    </h4>
                </li>
                <li>
                    <h4 class="text-left">5 - J'installe les dépendances.<br />
                        <code>./install</code>
                        Si erreur yarn alors<code>./installnpm</code>
                    </h4>
                </li>
                <li>
                    <h4 class="text-left">6 - Je charge les données et je mets à jour ma base de données<br />
                        <code>./bdd</code>
                    </h4>
                </li>
            </ul>
        </div>
    </div>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
        <h2 class="text-left">information</h2>
    <div class="row">
        <div class="col-12 ">
            <h3 class="">Pour rejoindre le discord : <a href="https://discord.gg/FgcPQnp">ici</a></h3>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <h3 class="text-primary">La première règle du symfofight-club :</h3>
            <h4>Si je cherche des informations/ documentations / ... je vais sur<a
                        href="https://symfony.com/doc/current/index.html#gsc.tab=0"></a> la doc officiel et pas autres
                part !</h4>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <h3 class="text-primary">La deuxième règle du symfofight-club :</h3>
            <h4>Si je cherche des informations/ documentations / ... je vais sur <a
                        href="https://symfony.com/doc/current/index.html#gsc.tab=0"></a> la doc officiel et pas autres
                part !</h4>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <h3 class="text-primary">La troisième règle du symfofight-club :</h3>
            <h4>Si je cherche des informations/ documentations / ... je vais sur<a
                        href="https://symfony.com/doc/current/index.html#gsc.tab=0"></a> la doc officiel et pas autres
                part !</h4>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>
    <div class="row">

        <div class="col-12 text-center">
            <h3 class="">Doc officiel : <a class="btn btn-primary"
                                           href="https://symfony.com/doc/current/index.html#gsc.tab=0">Symfony</a>
            </h3>
        </div>

        <hr>
        <hr>
    </div>

    <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100"></div>
    </div>
    <h2 class="">L'authentification login et la sécurité sur symfony</h2>

    <div class="row">
        <div class="col-12 ">
            <h4 class="">Création de l'utilisateur<br /></h4>
                <code>
                    php bin/console make:user<br/>
                    The name of the security user class (e.g. User) <br/>
                    > User<br/>
                    <br/>
                    Do you want to store user data in the database (via Doctrine)? (yes/no) [yes]:<br/>
                    > yes<br/>
                    <br/>
                    Enter a property name that will be the unique "display" name for the user (e.g. email, username,
                    uuid) [email]:<br/>
                    > username<br/>
                    <br/>
                    Will this app need to hash/check user passwords? Choose No if passwords are not needed or will be
                    checked/hashed by some other system (e.g. a single sign-on server).<br/>
                    <br/>
                    Does this app need to hash/check user passwords? (yes/no) [yes]:<br/>
                    > yes<br/>
                    <br/>

                </code>
            <h4 class="">Création de l'outil d'authentification<br /></h4>
            <code>
                    php bin/console make:auth<br />
                    What style of authentication do you want? [Empty authenticator]:<br/>
                    [0] Empty authenticator<br/>
                    [1] Login form authenticator<br/>
                    > 1<br/>
                    <br/>
                    The class name of the authenticator to create (e.g. AppCustomAuthenticator):<br/>
                    > UserAuthenticator<br/>
                    <br/>
                    Choose a name for the controller class (e.g. SecurityController) [SecurityController]:<br/>
                    ><br/>
                    <br/>
                    Do you want to generate a '/logout' URL? (yes/no) [yes]:<br/>
                    <br/>
                </code>
            </h4>
        </div>
        <hr>
        <hr>
        <div class="col-12 ">
            <h4 class="">
                Test si un utilisateur est connecté dans la vue TWIG</h4><br/>
                <code>
                    {% verbatim %}
                {% if app.user %} => the dark side<br /><br />
                {% if is_granted('ROLE_USER') %} => the light side
                {% endverbatim %}
                </code>

            <h4 class=""></h4>
               Exemple <br/>
                <code>
                    {% verbatim %}
                    //templates/entity/test.html.twig<br />
<br />
                    {% extends 'base.html.twig' %}<br />
<br />
                    {% block title %}<br />
                        {% if is_granted('ROLE_USER') %}<br />
                            Hello {{ app.user.username }}<br />
                        {% else %}<br />
                            Test page<br />
                        {% endif %}<br />
                    {% endblock title %}<br />
<br />
                {% endverbatim %}
                </code>
            <hr>
            <hr>
            <h4 class="">
                Verouiller l'accès au controller complet et/ou à ses methodes<br/>
                <code>
                    {% verbatim %}
                  use Sensio\Bundle\FrameworkExtraBundle\Configuration\IsGranted;<br />
                  /**<br />
                    *<br />
                    * @IsGranted("ROLE_ADMIN")<br />
                    */<br />
                    class AdminController extends AbstractController<br />
                    {<br />
                    /**<br />
                    *<br />
                    * @IsGranted("ROLE_ADMIN")<br />
                    */<br />
                    public function adminDashboard()<br />
                {% endverbatim %}
                </code>
            </h4>
            <hr>
            <hr>
            <br/>
            <h4 class="">
                Test si un utilisateur est connecté dans le controlleur<br/>
                <code>
                    {% verbatim %}
                  if ($this->getUser()) => the dark side<br /><br />
                  if($this->isGranted('ROLE_USER') === true)} => the light side
                {% endverbatim %}
                </code>
            </h4>
            <hr>
            <hr>
            <br/>
            <h4>La hierarchie des roles ou pas ( pas obligatoire ) <br/>
                <code>
                    {% verbatim %}
            # config/packages/security.yaml<br />
            security:<br />
                # ...<br />
            <br />
                role_hierarchy:<br />
                    ROLE_ADMIN:       [ROLE_USER, ROLE_ADMIN ]<br />
                    ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]<br />
            {% endverbatim %}
                </code>
            </h4>
            <h5>Plus d'info sur la sécurité : <a  class="btn btn-success" target="_blank" href="https://symfony.com/doc/current/security.html">doc</a>
            </h5>
            <hr>
            <hr>
        </div>
        <div class="col-12 ">
        <h1>Ce qu'il faut retenir : </h1>
        <br />
        <h4>Pour récupérer l'utilisateur connecté  :
            <code>
                use Symfony\Component\Security\Core\Authentication\Token\Storage\TokenStorageInterface;<br />
                TokenStorageInterface $tokenStorage;<br />
                method: getUser()
            </code>
        </h4>
        <h4>Pour récupérer le service qui va vérifier les droits de l'utilisateur connecté<br />
            <code>
                use Symfony\Component\Security\Core\Authorization\AuthorizationCheckerInterface;<br />
                AuthorizationCheckerInterface $authorizationChecker<br />
                method : isgranted()
            </code>
        </h4>
        <h4>Celui qui fait tout  :
            <code>
                use Symfony\Component\Security\Core\Security;<br />
                Security $security<br />
                method: getUser() | isGranted
            </code>
            </h4>
        <h4>On avance ? <a href="{{ path('tp') }}">Next</a></h4>
        </div>
    </div>

{% endblock body %}
